<!DOCTYPE html>
<html>
  <head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
</style>
    <title>WatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render 'lists/navbar' %>
  <div class="page-container">
    <%= yield %>
  </div>
    <%= render 'lists/footer' %>
  </body>
</html>
